body { overflow-x:hidden;
       background-color: rgba(8,8,8,0.95)}
.menu{
    padding-top: 3vh;

    display: flex;
    justify-content: space-between;
    position: fixed;
    padding-bottom: 3vh;
    width: 100%;
    height: 100%

}
.menu a:not(:hover){
    transition: 1s;
    opacity: 70%;

}
.menu a:hover{
    transition: 1s;
    opacity: 100%;
}
a:hover {
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
a{
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
    color: rgba(228,230,239,0.95);
    text-decoration: none;
    margin: 3vh;
    font-family: 'Gloock', serif;
    font-size: larger;
}
a:hover {
  color: #fddb3a;
}


h1{
    color: rgba(228,230,239,0.95);
}
.podcladca{
    height: 500px;
    width: 100%;
    background-color: rgba(19,19,19,0.95);
}
body{
    margin: 0;
    padding: 0
}

.instagram_2{
    width: 80%;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-left: 10vh;
    margin-right: 10vh;
}
.instagram_2 a{
    opacity: 30%;
    font-family: 'Didact Gothic', sans-serif;
}
.space{
    margin-top: 30vh;
    display: block;
}
.instagram_2 a:hover{
    transition: 1s;
    opacity: 100%;
}

.instagram_2 a:not(:hover) {
    transition: 1s;
    opacity: 30%;
}
