{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="parallax">
  <div class="parallax__layer" id="parallax-0" ></div>
  <div class="parallax__layer" id="parallax-1" ></div>
  <div class="parallax__layer" id="parallax-2" ></div>
  <div class="parallax__layer" id="parallax-3" ></div>
  <div class="parallax__layer" id="parallax-4" ></div>
  <div class="parallax__layer" id="parallax-5" ></div>
  <div class="parallax__layer" id="parallax-6" ></div>
  <div class="parallax__layer" id="parallax-7" ></div>
  <div class="parallax__layer" id="parallax-8" ></div>
</div>
<div class="maincontent">
  <h1>Как я докатился до жизни такой?</h1>
<p>Я родился и вырос в Беларуси. Начиная с 7 лет и до 16 каждое лето я ездил в Италию по 2 месяца каждое лето. Там я жил в кругу настоящих итальянцев, благодаря чему теперь могу без проблем пообщаться на этом красивом языке. </p>
</div>
{% endblock %}