<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/img/0%20.png" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>{% block title %}{% endblock %}</title>
    </head>
<body>
<div style="display: block">

    <div class="menu">
        <div>
            <a style="margin-left: 10vh" href="/about">About Me</a>
        </div>
        <div>
            <a href="/price">Prace</a>
            <a href="/Question">Question</a>
            <a href="/people_think">Reviews</a>
            <a style=" margin-right: 10vh" href="/message">Contact</a>
        </div>
    </div>
</div>


{% block body %}
{% endblock %}


<script src="/static/main.js"></script>
</body>
</html>
