{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block body %}
     <div class="menu navMenu">
        <div>
            <a style="margin-left: 10vh" href="/about">About Me</a>
        </div>
        <div>
            <a href="/price">Prace</a>
            <a href="/Question">Question</a>
            <a href="/people_think">Reviews</a>
            <a style=" margin-right: 10vh" href="/message">Contact</a>
            </div>
     </div>
<div class="instagram_2">
    <a style="margin-right: 70vh; margin-left: 10vh" href="https://www.instagram.com/vituok_ph/">@vituok_ph</a>
    <a style="padding-top: 30vh" href="https://www.instagram.com/its_miledi/">@its_miledi</a>
</div>
    <img alt="" style="width: 100%" src="/static/img/2.png">


{% endblock %}