{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block body %}
     <div class="menu navMenu">
        <div>
            <a style="margin-left: 10vh" href="/about">Про меня</a>
        </div>
        <div>
            <a href="/price">Услуги</a>
            <a href="/Question">Вопросы</a>
            <a href="/people_think">Отзывы</a>
            <a style=" margin-right: 10vh" href="/message">Связаться</a>
            <div class="dot"></div>
            </div>
     </div>
<div class="instagram_2">
    <a style="margin-right: 70vh; margin-left: 10vh" href="https://www.instagram.com/vituok_ph/">@vituok_ph</a>
    <a style="margin-top: 35vh" href="https://www.instagram.com/its_miledi/">@its_miledi</a>
</div>
    <img alt="" style="width: 100%" src="/static/img/2.png">


{% endblock %}